button {
  display: inline-block;
  color: black;
  font-weight: 700;
  text-decoration: none;
  user-select: none;
  padding: 30px;
  outline: none;
  border: 2px solid;
  border-radius: 1px;
  transition: 0.2s;
}

button:hover {
  background: rgb(53, 167, 110);
}
button:active {
  background: rgb(33, 147, 90);
  box-shadow: 0 3px rgb(33, 147, 90) inset;
}
